@model EfficiencyTrack.ViewModels.Employee.EmployeeDetailViewModel

@{
    ViewData["Title"] = "Детайли за служител";
}

<main class="container mt-4">
    <h1>Детайли за служител</h1>

    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Code)</dt>
        <dd class="col-sm-9">@(!string.IsNullOrWhiteSpace(Model.Code) ? Model.Code : "-")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.FullName)</dt>
        <dd class="col-sm-9">@(!string.IsNullOrWhiteSpace(Model.FullName) ? Model.FullName : "-")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DepartmentName)</dt>
        <dd class="col-sm-9">@(!string.IsNullOrWhiteSpace(Model.DepartmentName) ? Model.DepartmentName : "-")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ShiftManagerUserName)</dt>
        <dd class="col-sm-9">@(!string.IsNullOrWhiteSpace(Model.ShiftManagerUserName) ? Model.ShiftManagerUserName : "-")</dd>
    </dl>

    <a asp-action="Index" class="btn btn-secondary">Обратно към списъка</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a>
</main>
