@model EfficiencyTrack.ViewModels.EntryViewModel.EntryDetailsViewModel

@{
    ViewData["Title"] = "Детайли за запис";
}

<main class="container">
    <header>
        <h1>Детайли за запис</h1>
    </header>

    <section>
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Date)</dt>
            <dd class="col-sm-9">@Model.Date.ToString("dd.MM.yyyy")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.EmployeeCode)</dt>
            <dd class="col-sm-9">@Model.EmployeeCode</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.EmployeeName)</dt>
            <dd class="col-sm-9">@Model.EmployeeName</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.RoutingName)</dt>
            <dd class="col-sm-9">@Model.RoutingName</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Pieces)</dt>
            <dd class="col-sm-9">@Model.Pieces</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Scrap)</dt>
            <dd class="col-sm-9">@Model.Scrap</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.WorkedMinutes)</dt>
            <dd class="col-sm-9">@Model.WorkedMinutes</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.RequiredMinutes)</dt>
            <dd class="col-sm-9">@Model.RequiredMinutes</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.EfficiencyForOperation)</dt>
            <dd class="col-sm-9">@Model.EfficiencyForOperation.ToString("0.##")%</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редакция</a>
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </section>
</main>
